{% extends 'base.html'%}
{% block content %}
<div class="landing page">
    <div class="home" style="
      background-image: url(../static/photos/home1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 95vh;
    ">
        <p class="text-center" style="font-size: 50px; padding-top: 40vh">
            For Great Smiles the love of learning starts at home!
        </p>
    </div>
    <div class="aboutus">
        <h2 class="text-center pt-5">What we do</h2>
        <hr>
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/home1.jpg" class="img-fluid" style="width: 100vh" />
                    </div>
                </div>
                <div class="col-sm">
                    <h3>Lorem ipsum dolor sit amet consectetur</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque,
                        ratione consequatur quibusdam quam voluptatum nisi qui. Saepe rem
                        ut, vitae deleniti placeat, omnis enim maxime nisi incidunt dolorum
                        praesentium.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="subjects">
        <h2 class="text-center pt-5">Subjects</h2>
        <hr>
    </div>
</div>
{%endblock%}