{% extends 'base.html'%}
{% block content %}
<div class="landing page">
    <div class="home" style="
      background-image: url(../static/photos/home1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 95vh;
    ">
        <p class="text-center" style="font-size: 50px; padding-top: 40vh">
            For Great Smiles the love of learning starts at home!
        </p>
    </div>
    <div class="aboutus" id="about">
        <h2 class="text-center pt-5 h1 text-secondary">What we do</h2>
        <hr>
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/home1.jpg" class="img-fluid" style="width: 100vh" />
                    </div>
                </div>
                <div class="col-sm">
                    <h3>Lorem ipsum dolor sit amet consectetur</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eaque,
                        ratione consequatur quibusdam quam voluptatum nisi qui. Saepe rem
                        ut, vitae deleniti placeat, omnis enim maxime nisi incidunt dolorum
                        praesentium.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="subjects">
        <h2 class="text-center pt-5 h1 text-secondary">Subjects</h2>
        <hr>
        <p class="text-center pt-3">We provide questions and answers to the following subjects from grade 4 to grade 8
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p>Mathematics</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p>English</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p>Kiswahili</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p>Science</p>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p> Social Studies</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p>CRE</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p>Community</p>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <img src="../static/photos/books-462579.jpg" class="img-fluid" style="width: 100vh" />
                        <p> Kiswahili</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our team">
        <h2 class="pt-5 text-center h1 text-secondary">Our Team</h2>
        <hr>
        <p class="text-center">E-learn contain a team that will communicate to you anytime in case of any assistance</p>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                class="rounded-circle" alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Anna Doe</h4>
                            <hr>
                            <!-- Quotation -->
                            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eos, adipisci
                            </p>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col-sm">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                class="rounded-circle" alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Anna Doe</h4>
                            <hr>
                            <!-- Quotation -->
                            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eos, adipisci
                            </p>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col-sm">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                class="rounded-circle" alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Anna Doe</h4>
                            <hr>
                            <!-- Quotation -->
                            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eos, adipisci
                            </p>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-4">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                class="rounded-circle" alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Anna Doe</h4>
                            <hr>
                            <!-- Quotation -->
                            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eos, adipisci
                            </p>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col-4">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                class="rounded-circle" alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Anna Doe</h4>
                            <hr>
                            <!-- Quotation -->
                            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Eos, adipisci
                            </p>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
            </div>
        </div>
    </div>
    <div class="contact pt-3">
        <hr>
        <!-- Footer -->
        <footer class="page-footer font-small cyan darken-3">

            <!-- Footer Elements -->
            <div class="container">

                <!-- Grid row-->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12 py-5">
                        <div class="mb-5 flex-center">

                            <!-- Facebook -->
                            <a class="fb-ic">
                                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic">
                                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic">
                                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic">
                                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Pinterest-->
                            <a class="pin-ic">
                                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://E-learn.com/"> E-learn</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>
</div>
{%endblock%}